.references{
    text-align:center;
    font-family:"Times New Roman";
  }
  h1 {
    font-family:georgia;
    font-size:48px;
    color:rgb(119, 25, 25);
    text-align: center;
  }
  
  .gram{
    width:40px;
    height:40px;
    float:right;
    margin-top:-20px
  }
  .myspace{
    width:40px;
    height:40px;
    float:right;
    margin-top:-20px;
    margin-right:30px;
  }
  
  body{
    margin-left:30px;
    background-color: gainsboro;
    font-family:"Times New Roman";
  }
  .link{
    width:40px;
    height:40px;
    float:right;
    margin-top:-20px;
    margin-right:50px;
  }
  
  .me{
    float:left;
    margin-top:15px;
    margin-right:4px
  }
  .dev{
    width:200px
  }
  @keyframes spin {
      to {
          transform: rotate(2turn);
      }
  }
  
  .pizza {
      animation: 2s spin infinite;
    width:200px;
    margin-left:360px;
    margin-top:40px;
  }
  .summary {
      margin-left:215px;
  }