.references{
    text-align:center;
    font-family:"Times New Roman";
  }
  h1 {
    font-family:georgia;
    font-size:48px;
    color:#005e80;
  }
  
  .gram{
    width:20px;
    height:20px;
    float:right;
    margin-top:-20px
  }
  .myspace{
    width:20px;
    height:20px;
    float:right;
    margin-top:-20px;
    margin-right:30px;
  }
  
  body{
    margin-left:15px;
    background-color: brown;
    font-family:"Times New Roman";
  }
  .link{
    width:20px;
    height:20px;
    float:right;
    margin-top:-20px;
    margin-right:60px;
  }
  
  .me{
    float:left;
    margin-top:15px;
    margin-right:4px
  }
  .dev{
    width:200px
  }
  @keyframes spin {
      to {
          transform: rotate(2turn);
      }
  }
  
  .pizza {
      animation: 2s spin infinite;
    width:200px;
    margin-left:360px;
    margin-top:40px;
  }