.me{
  color:white;
  font-family:"Times New Roman";
  font-size:50px;
  text-align:center;
  padding:140px;
 
}
.name{
  background-image:url(https://c.pxhere.com/photos/6a/14/beach_dawn_dusk_ocean_sea_seascape_sun_sunrise-1364695.jpg!d);
  background-size:cover;
  height:100%;
  background-repeat:no-repeat;
  background-position:center;
  opacity:0.85;
}

.references{
  font-size:16px;
  padding-top:1%
}


body{
  height:100%;
  margin:0;
  margin-top:0;
  background-image:url(https://i.stack.imgur.com/IehB7.png)
}
.gramicon{
  width:30px;
}
.myspace{
  width:30px;
}

.linkedin{
  width:30px;
}
#ul{
  list-style-type:none;
  margin:0;
  padding:0;
  background-color:#282828;
  text-align:right;
}
#li{
  display:inline;
  padding:1%;
}

.main{
  margin-right:50px;
  margin-left:50px;
  color:silver;
  font-size:17px
}
.picme{
  float:left;
  width:26%;
  padding-right:1.2%;
}